
<mat-table [dataSource]="locacoes">

  <ng-container matColumnDef="id">
    <mat-header-cell  *matHeaderCellDef > ID </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dtLocacao">
    <mat-header-cell *matHeaderCellDef> Data de Locacao </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.dtLocacao | date: 'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dtDevolucaoPrevista">
    <mat-header-cell *matHeaderCellDef> Data de Devolucao Prevista </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.dtDevolucaoPrevista | date: 'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dtDevolucaoEfetiva">
    <mat-header-cell *matHeaderCellDef>  Data de Devolucao Efetiva </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.dtDevolucaoEfetiva | date: 'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="valorCobrado">
    <mat-header-cell *matHeaderCellDef> Valor Cobrado </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.valorCobrado}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="multaCobrada">
    <mat-header-cell *matHeaderCellDef> Multa Cobrada </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.multaCobrada}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.cliente.nome}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="item">
    <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
    <mat-cell *matCellDef="let locacao"> {{locacao.item.tipoItem}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column">
      Ações
    </mat-header-cell>

    <mat-cell *matCellDef="let locacao" class="action-column">
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar Locacao"
        (click)="onEdit(locacao)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        aria-label="Remover Locacao"
        (click)="onDelete(locacao)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
