<mat-card>

  <mat-toolbar>Detalhes do Dependente</mat-toolbar>

  <mat-card-content class="card-container">

    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome" #nome>
        <mat-hint align="end">{{ nome.value.length || 0}} / 100</mat-hint>
        <mat-error *ngIf="form.get('nome')?.invalid">{{
          getErrorMessage('nome')
          }}</mat-error>
      </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput placeholder="Data de Nascimento" formControlName="dtNascimento" type="date">
      <mat-error *ngIf="form.get('dtNascimento')?.invalid">{{
        getErrorMessage('dtNascimento')
        }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Sexo</mat-label>
      <mat-select placeholder="Selecione o seu sexo" formControlName="sexo" #sexo>
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Feminino">Feminino</mat-option>
        <mat-option value="NaoEspecificado">Não especificado</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('sexo')?.invalid">{{
        getErrorMessage('sexo')
        }}</mat-error>
    </mat-form-field>

    <div class="dropdown">
      <mat-form-field class="full-width">
        <mat-label>Socio</mat-label>
        <mat-select formControlName="socio" required>
          <mat-option *ngFor="let socio of socioData" [value]="socio">{{socio.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
