<mat-card>

  <mat-toolbar>Detalhes do Locação</mat-toolbar>

  <mat-card-content class="card-container">

    <form [formGroup]="form">

      <mat-form-field class="full-width" *ngIf="isPaginaEdicao"> 
        <mat-label>Data de Locacao</mat-label>
        <input matInput placeholder="Data de Locacao" formControlName="dtLocacao" type="date">
        <mat-error *ngIf="form.get('dtLocacao')?.invalid">{{
          getErrorMessage('dtLocacao')
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="isPaginaEdicao">
        <mat-label>Data de Devolucao Prevista</mat-label>
        <input matInput placeholder="Data de Devolucao Prevista" formControlName="dtDevolucaoPrevista" type="date">
        <mat-error *ngIf="form.get('dtDevolucaoPrevista')?.invalid">{{
          getErrorMessage('dtDevolucaoPrevista')
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="isPaginaEdicao">
        <mat-label>Valor Cobrado</mat-label>
        <input matInput placeholder="Valor Cobrado" type="number" formControlName="valorCobrado">
        <mat-error *ngIf="form.get('valorCobrado')?.invalid">{{
          getErrorMessage('valorCobrado')
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente" required>
          <mat-option *ngFor="let cliente of clienteData" [value]="cliente">{{cliente.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Item</mat-label>
        <mat-select formControlName="item" required>
          <mat-option *ngFor="let item of itemData" [value]="item">{{item.titulo.nome}}</mat-option>
        </mat-select>
      </mat-form-field>


    </form>

  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
