<div class="mat-card">
  <div class="mat-card-content">
    <div class="mat-card-title">
      <h2>Menu de Gerenciamento</h2>
    </div>
    <div class="mat-card-subtitle">
      <p>CRUD Angular - Desenvolvimento Web II</p>
      <div class="mat-button-container">

        <button mat-button [matMenuTriggerFor]="categoriasMenu" class="button" color="#fff">
          CATEGORIAS
        </button>

        <button mat-button [matMenuTriggerFor]="controleMenu" class="button" color="#fff">
          CONTROLE
        </button>

      </div>
    </div>
  </div>
</div>

<div class="mat-button-container">
  <mat-menu #categoriasMenu="matMenu">
    <button mat-menu-item routerLink="/ator">Ator</button>
    <button mat-menu-item routerLink="/classe">Classe</button>
    <button mat-menu-item routerLink="/diretor">Diretor</button>
    <button mat-menu-item routerLink="/titulo">Titulo</button>
    <button mat-menu-item routerLink="/item">Item</button>
  </mat-menu>

  <mat-menu #controleMenu="matMenu">
    <button mat-menu-item routerLink="/locacao">Locação e Devolução</button>
    <button mat-menu-item routerLink="/cliente">Cliente</button>
  </mat-menu>
</div>
