
<mat-table [dataSource]="dependentes">

  <ng-container matColumnDef="id">
    <mat-header-cell  *matHeaderCellDef > ID </mat-header-cell>
    <mat-cell *matCellDef="let dependente"> {{dependente.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let dependente"> {{dependente.nome}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sexo">
    <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
    <mat-cell *matCellDef="let dependente"> {{dependente.sexo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="socio">
    <mat-header-cell *matHeaderCellDef> Socio </mat-header-cell>
    <mat-cell *matCellDef="let dependente"> {{dependente.socio.nome}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dtNascimento">
    <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
    <mat-cell *matCellDef="let dependente"> {{dependente.dtNascimento | date: 'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let dependente">
      <mat-slide-toggle (change)="onChangeStatus(dependente)" [(ngModel)]="dependente.estahAtivo"></mat-slide-toggle>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column">
      Ações
    </mat-header-cell>

    <mat-cell *matCellDef="let dependente" class="action-column">
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar Dependente"
        (click)="onEdit(dependente)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        aria-label="Remover Dependente"
        (click)="onDelete(dependente)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
