<mat-card>

  <mat-toolbar>Detalhes do Socio</mat-toolbar>

  <mat-card-content class="card-container">

    <form [formGroup]="form">

      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome" #nome>
        <mat-hint align="end">{{ nome.value.length || 0}} / 100</mat-hint>
        <mat-error *ngIf="form.get('nome')?.invalid">{{
          getErrorMessage('nome')
          }}</mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Sexo</mat-label>
        <mat-select placeholder="Selecione o seu sexo" formControlName="sexo" #sexo>
          <mat-option value="Masculino">Masculino</mat-option>
          <mat-option value="Feminino">Feminino</mat-option>
          <mat-option value="nespecificado">Não especificado</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('sexo')?.invalid">{{
          getErrorMessage('sexo')
          }}</mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput placeholder="Data de Nascimento" formControlName="dtNascimento" type="date">
        <mat-error *ngIf="form.get('dtNascimento')?.invalid">{{
          getErrorMessage('dtNascimento')
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput placeholder="Endereço" formControlName="endereco" #endereco>
        <mat-hint align="end">{{ endereco.value.length || 0}} / 100</mat-hint>
        <mat-error *ngIf="form.get('endereco')?.invalid">{{
          getErrorMessage('endereco')
          }}</mat-error>
      </mat-form-field>

      <div class="dropdown">

        <mat-form-field class="full-width">
          <mat-label>Telefone</mat-label>
          <input matInput maxlength="11" placeholder="Telefone" formControlName="telefone" #telefone required>
          <mat-hint align="end">{{ telefone.value.length || 0}} / 11</mat-hint>
          <mat-error *ngIf="form.get('telefone')?.invalid">{{
            getErrorMessage('telefone')
            }}</mat-error>
        </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput maxlength="11" placeholder="CPF Somente numeros" formControlName="cpf" #cpf required>
        <mat-hint align="end">{{ cpf.value.length || 0}} / 11</mat-hint>
        <mat-error *ngIf="form.get('cpf')?.invalid">{{
          getErrorMessage('cpf')
          }}</mat-error>
      </mat-form-field>

    </div>



    </form>

  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
