<div class="mat-card">
  <div class="mat-card-content">
    <div class="mat-card-title">
      <h2>Menu de Cadastro</h2>
    </div>
    <div class="mat-card-subtitle">
      <p>Menu para cadastrar Clientes</p>
    </div>

      <div class="mat-button-container-up">
        <button mat-button class="button" color="#fff" routerLink="/socio">
          Sócio
        </button>

        <button mat-button class="button" color="#fff" routerLink="/dependente">
          Dependente
        </button>
      </div>

      <div class="mat-button-container-down">
        <button mat-button class="button" color="#fff" routerLink="/cliente/listar">
          Listar Clientes
        </button>
      </div>



  </div>
</div>

